version: "3.9"

services:
  app:
    build: .
    container_name: task-node
    environment:
      - PORT=3001
      - JWT_SECRET=12345689
      - DATABASE_URL=postgresql://postgres:root@db:5432/task_manager?schema=public
      - NODE_ENV=development
    ports:
      - "3000:3001"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:18-alpine
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: task_manager
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
